* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #090021;
  color: rgb(224, 205, 205);
}

header {
  border-bottom: #a383fa 2px solid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: 20px 0;
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-ul li:hover {
  color: #ff6f61;
}

#hero {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 100px 20px;
}

.profile-pic {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

#hero .left {
  margin-bottom: 20px;
}

#hero .right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.hero-section-para {
  margin: 20px 0;
  font-size: 1.2em;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #9d342b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#skills {
  padding: 60px 20px;
}

hr {
  border: #a383fa 1px solid;
  margin: 10px 0;
}

.Skills-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  font-size: 1.5em;
}

.skills-container {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}

.skill-category {
  background-color: #27125d;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.skill-category h3 {
  margin-bottom: 15px;
  color: #b99dd4;
}

.skill-category ul {
  list-style: none;
}

.skill-category ul li {
  margin: 10px 0;
  font-weight: 400;
  /* text-align: center; */
}

#projects {
 margin-bottom: 70px;
}

.Projects-heading {
  text-align: center;
  margin: 40px 0;
  font-size: 1.5em;
}

.project-card {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.project-item {
  background-color: #27125d;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project-link {
  margin-top: 15px;
  text-align: center;
  color: rgb(209, 194, 194);
}

#experience {
  padding: 40px 20px;
}

#experience h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.experience-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-top: 30px;
}

.experience-item {
  width: 500px;
  gap: 50px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #27125d;
  border-radius: 10px;
}

.experience-item h3 {
  margin-bottom: 5px;
}

.exp-date {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

#about {
  padding: 40px 20px;
}

#about h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.about-container {
  max-width: 700px;
  margin: 40px auto;
  font-size: 18px;
  line-height: 1.6;
}

.about-container p {
  margin-bottom: 15px;
}

#contact {
    padding: 50px 20px;
    background: #090021;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}

#contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-text {
    font-size: 18px;
    color: #e9b5b5;
    margin-bottom: 25px;
}

.contact-info {
    list-style: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
    font-size: 18px;
}

.contact-info li {
    background: rgb(26, 3, 50);
    margin-bottom: 12px;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.contact-info a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 500;
}

.contact-info a:hover {
    text-decoration: underline;
}

footer {
  text-align: center;
  margin: 20px;
}